<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./node_modules/spectre.css/dist/spectre.min.css" rel="stylesheet">
    <link href="./style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container" id="app">
      <div class="columns">
        <div class="centered text-center">
          <h2 class="mt-10">TicTacToe</h2>
          <button class="btn mt-10" @click="reset">Restart</button>
          <div class="board mt-10 grid" id="board">
            <ttt-cell v-for="n in boardSize" :id="n-1"></ttt-cell>
          </div>
          <footer class="mt-10">
            <a href="http://www.freecodecamp.com/farhd">freeCodeCamp</a>
          </footer>
        </div>
        
        <div :class="['modal', 'modal-sm', {'active': isGameOn || gameFinished}]">
          <div class="modal-overlay"></div>
          <div class="modal-container text-center">
            <div v-show="isGameOn">
              <div class="modal-header">
                <div class="modal-title">Would you like to be X or O?</div>
              </div>
              <div class="modal-body">
                <div class="content">
                  <button 
                    class="btn" 
                    value="0"
                    @click="chooseSides"
                    >O</button>
                  &nbsp;
                  <button 
                    class="btn" 
                    value="1"
                    @click="chooseSides"
                    >X</button>
                </div>
              </div>
            </div>
            
            <div v-show="gameFinished">
              <div class="modal-header">
                <div class="modal-title" v-if="gameResult !== null">
                  <p v-if="gameResult === -1">Tie!</p>
                  <p v-else>{{ gameResult === player ? 'You' : 'PC' }} won!</p>
                </div>
              </div>
              <div class="modal-body">
                <div class="content">
                  <button class="btn mt-10" @click="reset">Restart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="./node_modules/vue/dist/vue.js"></script>
    <script src="./app.js"></script>
  </body>
</html>