body {
  /* https://lea.verou.me/css3patterns/ */
  background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
  
  font-family: "Helvetica Neue", sans-serif;
}

h2 {
  color: white;
}

.board {
  width: 320px;
}

.grid {
  display: flex;
  flex-flow: row wrap;
}
.grid > * {
  flex-basis: 33%;
  flex-grow: 1;
}

.box {
  height: 100px;
  position: relative;
}

.box[value]:before {
  font-size: 4rem;
  top: 15%;
  left: 35%;
}
.box[value="1"]:before  {
  content:'X';
}
.box[value="0"]:before  {
  content:'O';
}

.player-choice {
  font-size: 20px;
  border: 1px solid lightgray;
  padding: 4px;
}